extends layout

block content
  //- header
  header(class="bg-white mb-5")
    include navbar
  //- hero section 
  section(class='hero-section px-5 lg:px-20')
    //- slider
    include slider
    //- services block
    include services-block
    //- footer
  include footer
  