doctype html
html(lang='ar', dir='rtl')
  head
    title= title
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/index.css")
  body
    block content
  script(src="/javascripts/script.js") 
